target
classes
lib
checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
.lein-*
.nrepl-port
.prepl-port
.hgignore
.hg
.lein-deps-sum
.lein-repl-history
.lein-plugins
.lein-failures
.cpcache

*.ltb
